@import "../../../../../../variables.scss";

.dropdown-menu {
  width: 526px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 20px 40px 20px 40px;
  border-radius: 5px;
  background-color: #d5621d1a;
  &.opened {
    background-color: #d5621d;
  }
  .top-lane {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content {
    display: none;
    padding-top: 20px;
    text-transform: none;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    &.opened {
      background-color: #d5621d;
      display: block;
    }
  }
}
