@import "../../variables";

.btn {
  text-transform: uppercase;
  padding: 13px 26px;
  border-radius: 5px;
  &.fill {
    display: inline-block;
    background-color: $button-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.05em;
  }
  &.unfill {
    border: 2px solid $button-color;
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
  }
}
