@import "../../../../variables";

#menu {
  .section-footer {
    text-align: center;
  }
  .slider-menu-container {
    position: relative;
    overflow: hidden;
  }
  .menu-container {
    position: relative;
    margin-bottom: 96px;
    z-index: -1;
    left: 0;
    transition: all ease 1s;
  }
  .slider-left {
    left: 1%;
    top: 40%;
  }
  .slider-right {
    left: 95%;
    top: 40%;
  }
  .menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 56px 0;
    padding-left: 110px;
  }
}
