@import "../../../../../../variables.scss";

.icon {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #d5621d;
  display: flex;
  align-items: center;
  justify-content: center;
}
